.root {
  padding-top: 1vh;
  height: 99vh;
  width: 20vw;
  background-color: #0c0a1c;
  color: #d2cdff;
  border-right-width: 1;
  border-color: black;
  /* border-style: inset; */
  /* border-right-style: solid; */
  box-shadow: 1px 1px 75px #000;
}

.header {
  height: 3.5vh;
  text-align: center;
  font-size: 2vh;
  /* font-weight: bold; */
  color: #d2cdff;
  box-shadow: #0c0a1c;
}

.queue {
  height: 88.5vh;
  overflow-y: scroll;
  white-space: nowrap;
  overflow-x: hidden;
}

.queue::-webkit-scrollbar {
  display: none;
}

.addToQueue {
  justify-content: center;
  align-items: center;
  line-height: 5vh;
  height: 5vh;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5vh;
  margin: 0.5vh;
  cursor: pointer;
}
